<<<<<<< HEAD
.divClass h1{
            color: red;
        }
#thirdDiv ul li img{
            width: 400px;
        }
#thirdDiv{
            height: 600px;
            width: 500px;
            background-color: blue;
            padding: 50px;
            border: 5px green;
        }
.divClass #spanId{
            font-size: 18px;
            margin: 50px;
=======
.divClass h1{
            color: red;
        }
#thirdDiv ul li img{
            width: 400px;
        }
#thirdDiv{
            height: 600px;
            width: 500px;
            background-color: blue;
            padding: 50px;
            border: 5px green;
        }
.divClass #spanId{
            font-size: 18px;
            margin: 50px;
>>>>>>> f976dd44a1518d8ac35b4efbac4385c4e1fb1d68
        }